# Large/raw data files - do NOT commit these
*.csv
*.zip
*.7z

# Excel files and temp files
*.xlsx
!Dashboard/Maven Toys Sale Analysis.xlsx

~$*.xlsx           # Excel temporary lock files
*.xlsm
*.xltx

# Processed/output folders
03_Processed_Data/
temp/
backup/

# General junk
.DS_Store
Thumbs.db
*.bak
*.tmp
SQL Queries/.vs/slnx.sqlite
SQL Queries/.vs/SQL Queries.slnx/v18/.wsuo
SQL Queries/.vs/SQL Queries.slnx/FileContentIndex/da23a10b-3994-43a4-a209-e4101e0fa805.vsidx
SQL Queries/.vs/SQL Queries.slnx/v18/DocumentLayout.backup.json
SQL Queries/.vs/SQL Queries.slnx/v18/DocumentLayout.json
SQL Queries/.vs/VSWorkspaceState.json
