# Large/raw data files - do NOT commit these
*.csv
*.zip
*.7z

# Excel files and temp files
*.xlsx
!Dashboard/Maven Toys Sale Analysis.xlsx

~$*.xlsx           # Excel temporary lock files
*.xlsm
*.xltx

# Processed/output folders
03_Processed_Data/
temp/
backup/

# General junk
.DS_Store
Thumbs.db
*.bak
*.tmp